* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

html,
body {
  overflow-x: hidden;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 57px 165px;
  color: #ffffff;
  background-color: #24053e;
}

.header__navigate a {
  font-size: 18px;
  font-family: marope, sans-serif;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: -0.18px;
  color: #fff;
  text-decoration: none;
}
.header__navigate span {
  display: flex;
  height: 3px;
  width: 140px;
  background-color: #44ffa1;
}

.hero {
  width: 100%;
  background-color: #24053e;
  border-bottom-left-radius: 100% 20%;
  border-bottom-right-radius: 100% 20%;
}

.hero__container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  max-width: 1440px;
  margin: auto;
  position: relative;
  padding-bottom: 326px;
}

.hero__title {
  color: #fff;
  font-family: Fraunces, sans-serif;
  text-align: center;
  font-size: 80px;
  font-weight: 600;
  line-height: 80px;
  max-width: 636px;
}

.hero__navigate {
  margin-top: 50px;
  padding: 15px 32px;
  border: 2px solid #44ffa1;
  color: #44ffa1;
  text-align: center;
  font-size: 18px;
  font-family: Manrope, sans-serif;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: -0.18px;
}

.hero__image__phone {
  width: 702px;
  height: 405px;
  position: absolute;
  bottom: -160px;
}
.hero__image__circle-1 {
  position: absolute;
  right: -50px;
  top: 50%;
  transform: translateY(-50%);
}

.hero__image__circle-2 {
  position: absolute;
  left: -130px;
  top: 0px;
}

.services__list {
  display: flex;
  gap: 26px;
  margin: auto;
  text-align: center;
  list-style: none;
  margin-top: 255px;
  align-items: center;
  max-width: 1114px;
}
.services__list li span {
  padding: 8px 15px;
  border-radius: 50%;
  border: 1px solid #584d62;
  color: var(--dark-purple, #24053e);
  font-size: 24px;
  font-family: Fraunces, sans-serif;
  font-weight: 600;
  line-height: 40px;
}

.services__list li h2 {
  color: #24053e;
  font-size: 32px;
  font-family: Fraunces, sans-serif;
  font-weight: 600;
  line-height: 40px;
  margin-top: 56px;
}
.services__list li p {
  color: #584d62;
  font-size: 18px;
  font-family: Manrope, sans-serif;
  font-weight: 400;
  line-height: 32px;
  margin-top: 32px;
}

.testimonials {
  display: flex;
  max-width: 1112px;
  margin: auto;
}
.testimonials__image {
  width: 450.287px;
  height: 453px;
  margin-top: 110px;
}
.testimonials__container {
  width: 730px;

  background-color: #24053e;

  padding: 64px;
  position: relative;
  margin-top: 283px;
  margin-left: -85px;
}

.testimonials__container h3 {
  font-size: 56px;
  font-family: Fraunces, sans-serif;
  font-weight: 600;
  line-height: 64px;
  color: #fff;
}
.testimonials__container p {
  color: #fff;

  font-size: 18px;
  font-family: Manrope, sans-serif;
  font-weight: 400;
  line-height: 32px;
  margin-top: 42px;
}

.testimonials__container a {
  padding: 15px 25px;
  border: 2px solid #44ffa1;
  color: #44ffa1;
  font-size: 18px;
  font-family: Manrope, sans-serif;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: -0.18px;
  margin-top: 52px;
  display: inline-block;
}

.testimonials__circle {
  position: absolute;
  right: 50px;
  bottom: -60px;
}
.footer__social {
  text-align: center;
  margin-top: 121px;
  margin-bottom: 110px;
}
.footer__social__media {
  display: flex;
  justify-content: center;
  gap: 26px;
  margin-top: 45px;
}
